@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Honk&family=Jersey+10&family=Lexend+Giga:wght@100..900&family=News+Cycle:wght@400;700&family=Sigmar&family=Sixtyfour+Convergence:BLED@88&family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Spice&family=Honk&family=Jersey+10&family=Lexend+Giga:wght@100..900&family=News+Cycle:wght@400;700&family=Sigmar&family=Sixtyfour+Convergence:BLED@88&family=Spicy+Rice&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 90vh; 
    overflow: hidden;
}

.midia {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sign-in {
    margin-right: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 55vh;
    width: 25vw;
    z-index: 3;
    background: rgba(255, 255, 255, 0); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    gap: 90px;
}

.top > h1 {
    position: absolute;
    top: 0;
    margin: 10px 0;
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
}

.top{
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgot > a 
{
    color: rgb(111, 0, 255);
    font-weight: bolder;
}


.field
{
    margin: 5px;
}

input:focus
{
    background-color: rgba(255, 255, 255, 0.068);
}


input::placeholder{
    text-align: center;
    color: grey;
}

button{
    color: white;
    position: absolute;
    transform: translateX(-50%);
    margin-top: 40px;
    min-width: 40%;
    font-size: 0.9rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-weight: bolder;
    background-color: rgba(0, 89, 255, 0.897);
}

.imagem{
    z-index: 3;
}

.imagem img{
    width: 4vw;
}

.top > img {
    position: absolute;
    top: 0;
    margin-top: 46px;
    width: 9vw;
}

.lemmese {
        text-align: center;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        height: 70vh;
        width: 70vw;
        z-index: 3;
    }


.lemmese  h1
{
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.164);
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-size: 3rem;
    font-style: normal;
  
}
